<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='Images/Favicon.png') }}" type="image/png">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style1.css')}}">
    <title>HSA</title>
</head>
<body>
    {% include 'Customer_header.html' %}
    <div class="edit">
    <h2>Customer Details :</h2>
    <p>Name: {{ cust.Full_name }}</p>
    <p>Password: {{ cust.Password }}</p>
    <p>E-mail: {{ cust.Email }}</p>
    <p>Contact Number: {{ cust.Phone_number }}</p>
    <p>Address: {{ cust.Address }}</p>
    <p>Pincode: {{ cust.Pincode }}</p>

    <p> If you want to edit <a href="/Customer/Edit/{{ID}}">click me!</a></p>
    </div>
    <a href="/Customer/Home/{{ID}}">Back</a>
</body>
</html>